# virtualenv
.amigo_secreto
.venv

# Python decouple
.env

#
*.py[cod]
*.log
*.sqlite3

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coveragerc
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

htmlcov/
docs/_build/
.editorconf

.DS_Store
temp.db

celerybeat-schedule

.version
.editorconfig
