{% extends "layout.html" %}
  
  {% load staticfiles %}
  {% load widget_tweaks %}

  {% block js %}
    <script type="text/javascript" src="{% static "core/js/core.js" %}"></script>
  {% endblock %}
  
  {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <style type="text/css" src="{% static "core/css/layout.css" %}"></style>
  {% endblock %}

{% block content %}

  <h2>Sortear amigo secreto</h2>
  <h4>Leia as instruções atentamente:</h4>
  <ol>
    <li>Escolha o seu nome abaixo somente o seu nome e nada mais além do seu nome! Se você escolher o nome de outra pessoa (que não seja o seu) você vai zicar o sistema e o sorteio precisará ser reiniciado!</li>
    <li>Ao escolher seu nome clique no botão "Sortear amigo", em seguida será revelado seu amigo secreto nesta mesma tela, verifique antecipadamente se não tem nenhum olhudo do seu lado!</li>
    <li>Após você sortear seu amigo secreto seu nome sumirá da lista e não será possível consultar uma segunda vez quem você tirou! Portanto anote o nome!</li>
  </ol>
  <form action="{% url 'raffle' %}" method="post" id="form">  
    {% csrf_token %}

    <div class="panel panel-default form">
      <div class="panel-heading">Sortear amigo secreto</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="form.partner.name">{{ form.name.label }}</label>
                {% render_field form.name class="form-control" %}
                {{ form.name.errors }}
            </div>
          </div>
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sortear amigo</button>
  </form>

  {% if friend %}
  <h1>
    {{ participant.name }},</br>
    Você tirou {{ friend.name }} como amigo secreto!!</br>
    <img src="{% static "img/cat.jpg" %}"></img>
  </h1>
  {% endif %}

{% endblock %}